@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "Nunito", sans-serif;
        @apply font-bold;
    }

    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 3rem;
    }

    h3 {
        font-size: 2.25rem;
    }

    h4 {
        @apply font-semibold text-2xl;
    }

    h5 {
        @apply font-semibold text-xl;
    }

    
    h6 {
        @apply font-semibold text-lg;
    }

    * {
        font-family: "Montserrat", sans-serif;
        @apply text-gray-600;
    }
}

.main_container {
    @apply container w-full mx-auto;
}

body {
  background: #F2F2F2;
  position: relative;
  min-height: 100%;
}

body::before {
    @apply backdrop-filter backdrop-blur-3xl;
}

/* BUTTON */
.btn {
    @apply shadow-md text-txt-white focus:outline-none;
    border-radius: 10px;
    &.btn_green {
        @apply bg-green-400 shadow-green;
    }
    

    &.btn_blue {
        @apply bg-lightBlue-400 shadow-blue hover:bg-lightBlue-500 transition-colors;
    }
    &.btn_lightblue {
        @apply bg-lightBlue-300 shadow-blue;
    }
    &.btn_rose {
        @apply bg-rose-400 shadow-rose transition-colors hover:bg-rose-500;
    }

    &.btn_yellow {
        @apply bg-yellow-400 shadow-yellow;
    }

    &.btn_sm {
        @apply py-2.5 px-9;
    }

    &.btn_lg {
        @apply py-5 px-10;
    }

    &.btn_xs {
        @apply px-2.5 py-2;
    }

    &.btn_md {
        @apply py-2 px-5 rounded-md text-sm font-semibold;
        color: #0EA5E9;
    }
}

.plus_btn{
    @apply hover:bg-green-500;
}

.caption {
    @apply uppercase text-sm font-bold;
    font-family: 'Nunito', sans-serif;
    letter-spacing: 0.25rem;
}

.text_with_bg {
    @apply flex justify-center items-center h-6 px-1 rounded-md font-semibold text-xl;
    letter-spacing: normal;
    min-width: 24px;
    font-family: "Montserrat", sans-serif;
}

/* END BUTTON */


/* HEADER */

header {

    .logo {

    }

    #nav a {
        @apply mr-6 text-lg font-bold text-gray-400;

        &.router-link-active {
            @apply text-gray-700;
        }

        &:last-of-type {
            margin-right: 0;
        }
    }
}

/* STEP */
.step{
    width: 200px;
    height: 150px;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(50px);
}

/* SERVICE CARD */
.addservice{
    font-style: normal;
    font-weight: bold;
    font-size: 8.4px;
    line-height: 11px;
    letter-spacing: 0.25em;
    @apply font-bold uppercase py-3
}
.servicecard{
    background: #fefefe 0.8;
    width: 190px;
    height: 140px;
}

@media all and (min-width: 1024px) {
    .container {
        max-width: 1020px;
    }
}

/* ADD CARD on page Услуги */
.addCard{
    width: 650px;
    height: 60px;
    background: rgba(250, 250, 250, 0.7);
    backdrop-filter: blur(100px);
}
.bg {
    position: fixed;
    @apply w-full h-full;
}

.bg_elements {
    z-index: -1;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
}