@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "Nunito", sans-serif;
        @apply font-bold;
    }

    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 3rem;
    }

    h3 {
        font-size: 2.25rem;
    }

    * {
        font-family: "Montserrat", sans-serif;
        @apply text-gray-600;
    }
}

.main_container {
    @apply container w-full mx-auto;
}

body {
  background: #F2F2F2;
  position: relative;
  min-height: 100%;
}

body::before {
    @apply backdrop-filter backdrop-blur-3xl;
}

/* BUTTON */
.btn {
    @apply shadow-md rounded-lg text-txt-white focus:outline-none;

    &.btn_green {
        @apply bg-green-400 shadow-green;
    }

    &.btn_blue {
        @apply bg-lightBlue-400 shadow-blue;
    }
    
    &.btn_rose {
        @apply bg-rose-400 shadow-rose transition-colors hover:bg-rose-500;
    }

    &.btn_yellow {
        @apply bg-yellow-400 shadow-yellow;
    }

    &.caption {
        @apply uppercase text-sm font-bold;
        font-family: 'Nunito', sans-serif;
        letter-spacing: 0.25rem;
    }

    &.btn_sm {
        @apply py-2.5 px-9 ;
    }

    &.btn_lg {
        @apply py-5 px-10;
    }
}

/* END BUTTON */

.desc {
    @apply text-sm text-gray-400;
}

/* HEADER */

header {

    .logo {

    }

    #nav a {
        @apply mr-6 text-lg font-bold text-gray-400;

        &.router-link-active {
            @apply text-gray-700;
        }

        &:last-of-type {
            margin-right: 0;
        }
    }
}