{
    "presets": [
        "@babel/preset-env"
    ],
    "plugins": [
        ["module-resolver", {
            "root": ["./"],
            "alias": {
                "@config": "./src/config",
                "@routes": "./src/routes",
                "@controllers": "./src/controllers",
                "@models": "./src/models",
                "@": "./src"
            }
        }]
    ]
}